html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

.container {
  max-width: 60rem; /* 960px */
  width: 100%;
  margin: 0 auto;
  padding: 0 2rem;
}

a {
  font-size: 1.25rem;
}

a:hover {
  text-decoration: none;
}

/* helpers */
.mb-1 {
  margin-bottom: 1rem;
}

.d-flex {
  display: flex;
}

.justify-content-between {
  justify-content: space-between;
}

.text-center {
  text-align: center;
}